* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.input-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #396331;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #555;
}

.resultado-container {
    background-color: white;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #6a9943;
    color: white;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin: 0;
}

div {
    margin: 10px 0;
    font-size: 18px;
}
